body {
    background-color: #143b41;
    color: #fce08f;
    background-image: url("./images/background.png");
    background-size: 219px 198px;
    font-family: "federo", Garamond, serif;
}

@font-face {
  font-family: "federo";
  src: url("./federo/federo-regular-webfont.woff");
}

a {
    color: #9eeed6;
    text-decoration: underline;
}

p {
  font-family: Georgia;
  font-size: 18px;
}

h2 {
  font-size: 30px;
}

.header {
    height: 150px;
    width: 100%;
    background-color: #225b64;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 4px #fce08f;
}

.spacer {
    height: 150px;
    margin: 0px 0px 10px 0px
}

.title {
    height: 108px;
}

.title img {
    height: 100%;
}

.desktopheadernav {
    display: flex;
    justify-content: left;
}

.mobileheadernav {
    display: flex;
    flex-wrap: wrap;
}

.navsection {
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 30px 0px 30px;
}

.navbtn div {
    height: 150px;
    width: 276px;
    background-size: 100%;
    margin: 0px 40px 0px 40px;
}

.navbtn a[href="./index.html"] div {
    background-image: url("./images/index.png");
}

.navbtn a[href="./illustration.html"] div {
    background-image: url("./images/illus.png");
}

.navbtn a[href="./about-contact.html"] div {
    background-image: url("./images/abt.png");
}

.navbtn a[href="./index.html"] div:hover {
    background-image: url("./images/indexclick.png");
}

.navbtn a[href="./illustration.html"] div:hover {
    background-image: url("./images/illusclick.png");
}

.navbtn a[href="./about-contact.html"] div:hover {
    background-image: url("./images/abtclick.png");
}

.navbtn img {
    width: 100%;
}

.page {
    justify-items: center;
}

.main {
    justify-content: center;
    display: flex;
}

.mainsection {
    height: 600px;
    margin: 10px;
    border-style: double;
    border-width: 8px;
    border-color: #fce08f;

}

.mainsection img {
    height: 100%;
}

.content {
    width: 80%;
    justify-items: center;
    margin: 0px 10% 0px 10%;
}

.artworkgrid {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.tileslabel {
    width: 30%;
    background-color: #225b64;
    margin: 0px 10px 0px 0px;
    border: double #fce08f 10px;
}

.tileslabel p, .tileslabel h2 {
    margin: 20px;
    text-align: right;
}

.tilesgrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tile {
    margin: 10px;
    height: 250px;
}

.tile img {
    height: 100%;
    cursor: pointer;
}

.about {
    justify-content: center;
}

.about h2 {
    margin: 0px;
    font-size: 40px;
}

.about p {
  font-size: 20px;
}

.abouttxt {
    background-color: #225b64;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    border: double #fce08f 10px;
}

.abouttxtblock {
    height: 80%;
    padding: 40px;
}

.aboutlinks {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
}

.aboutlinks a {
    margin: 30px;
}

.aboutlinks div img {
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

.footer {
    background-color: #225b64;
    width: 100%;
    height: 150px;
    border-top: solid 4px #fce08f;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer p {
    margin: 30px 10% 0px 10%;
}

#lightbox {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000D0;
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
}

@media only screen and (min-width: 600px) {
  .mobileheadernav {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {

  body {
    background-size: 40%;
  }

  .header, .spacer {
    height: 175px;
  }

  .desktopheadernav {
    display: none !important;
  }

  .mobileheadernav {
    display: flex;
  }

  .mobileheadernav {
    margin: 30px 0px 0px 0px;
  }

  .navsection {
    width: 100%;
    height: 80px;
    margin: 0px 10px;
  }

  .title {
    width: 100%;
    height: unset;
  }

  .title img {
    width: 100%;
  }

  .navbtn div {
    height: 25px;
    width: 115px;
    background-size: cover;
    margin: 0px;
  }

  .navbtn a[href="./index.html"] div {
    background-image: url("./images/mindex.png");
  }

  .navbtn a[href="./illustration.html"] div {
    background-image: url("./images/millus.png");
  }

  .navbtn a[href="./about-contact.html"] div {
    background-image: url("./images/mabt.png");
  }

  .navbtn a[href="./index.html"] div:hover {
    background-image: url("./images/mindexclick.png");
  }

  .navbtn a[href="./illustration.html"] div:hover {
    background-image: url("./images/millusclick.png");
  }

  .navbtn a[href="./about-contact.html"] div:hover {
    background-image: url("./images/mabtclick.png");
  }

  .main {
    flex-wrap: wrap;
    width: 100%;
  }

  .mainsection {
    width: 40%;
    height: unset;
    border: double #fce08f 10px;
  }

  .mainsection img {
    width: 100%;
  }

  .content {
    width: 95%;
    margin: 0px 2.5%;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0px 5%;
  }

  .abouttxt {
    width: 100%;
  }

  .abouttxtblock {
    padding: 20px 20px 0px 20px;
  }

  .aboutlinks {
    flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
  }

  .aboutlinks a {
    margin: 5px 5%;
    width: 100%;
}

  .artworkgrid {
    flex-wrap: wrap;
  }

  .tileslabel {
    width: 100%;
    margin: 0px 00px 10px 0px;
  }

  .tileslabel p, .tileslabel h2 {
    text-align: center;
  }

  .tilesgrid {
    justify-content: center;
  }

  .tile {
    margin: 5px;
    height: 150px;
  }

}